### Importing the pandas library to work with data structures and perform data analysis

In [ ]:
import pandas as pd

### Reading an Excel file into a pandas DataFrame

In [9]:
df = pd.read_excel(r"C:\Users\kumsam\Downloads\OS version and type.xlsx")

### Displaying the DataFrame to ensure it is loaded correctly

In [10]:
df

    environment operating System version
0    Production           Centos       7
1    Production           RedHat       7
2    Production   Windows Server    2019
3    Production           Centos       7
4    Production   Windows Server      10
..          ...              ...     ...
930  Production           Ubuntu   22.04
931  Production           Ubuntu   22.04
932  Production   Windows Server    2019
933  Production   Windows Server    2019
934  Production   Windows Server    2016

[935 rows x 3 columns]

### Counting the total number of rows in the DataFrame (total environments)

In [13]:
all_env_count = len(df)

### Displaying the total count of environments

In [15]:
all_env_count

935

# Windows Server

##  Filtering the DataFrame for rows where the operating system is 'Windows Server'

In [268]:
window_data = df[df['operating System'] == 'Windows Server']

In [270]:
window_data

    environment operating System version
2    Production   Windows Server    2019
4    Production   Windows Server      10
6    Production   Windows Server    2016
7    Production   Windows Server    2019
11   Production   Windows Server      10
..          ...              ...     ...
926  Production   Windows Server    2019
927  Production   Windows Server      10
932  Production   Windows Server    2019
933  Production   Windows Server    2019
934  Production   Windows Server    2016

[234 rows x 3 columns]

In [272]:
win_count = len(window_data)

In [513]:
win_count

234

## Windows Server 2016

Production	
Development
UAT/Test

In [563]:
med_Windows_data = df[(df['operating System'] == 'Windows Server') & (df['environment'] == 'Development')  & (df['version'] == 2016)]

In [565]:
med_Windows_data

     environment operating System version
675  Development   Windows Server    2016

In [567]:
med_count = len(med_Windows_data)

In [569]:
med_count

1

## Windows Server 2019

Production	
Development
UAT/Test

In [571]:
latest_Windows_data = df[(df['operating System'] == 'Windows Server') & (df['environment'] == 'UAT/Test')  & (df['version'] == 2019)]

In [573]:
latest_Windows_data

    environment operating System version
14     UAT/Test   Windows Server    2019
22     UAT/Test   Windows Server    2019
80     UAT/Test   Windows Server    2019
118    UAT/Test   Windows Server    2019
129    UAT/Test   Windows Server    2019
163    UAT/Test   Windows Server    2019
164    UAT/Test   Windows Server    2019
192    UAT/Test   Windows Server    2019
195    UAT/Test   Windows Server    2019
196    UAT/Test   Windows Server    2019
213    UAT/Test   Windows Server    2019
241    UAT/Test   Windows Server    2019
242    UAT/Test   Windows Server    2019
355    UAT/Test   Windows Server    2019
356    UAT/Test   Windows Server    2019
394    UAT/Test   Windows Server    2019
536    UAT/Test   Windows Server    2019
586    UAT/Test   Windows Server    2019
589    UAT/Test   Windows Server    2019
613    UAT/Test   Windows Server    2019
743    UAT/Test   Windows Server    2019
755    UAT/Test   Windows Server    2019
761    UAT/Test   Windows Server    2019
920    UAT/Test   Windows Server    2019

In [575]:
latest_count = len(latest_Windows_data)

In [577]:
latest_count

24

## Windows Server 10, 11, 2012

## Further filtering for 'Windows Server'  have a version in [10, 11, 2012]

#### You can change rows that are in the 'Development' environment =  Production	,Development, UAT/Test

Production	
Development
UAT/Test

In [595]:
small_Windows_data = df[(df['operating System'] == 'Windows Server') & 
                     (df['environment'] == 'Development') & 
                     (df['version'].isin([10, 11, 2012]))]

In [597]:
small_Windows_data

Empty DataFrame
Columns: [environment, operating System, version]
Index: []

In [599]:
small_count = len(small_Windows_data)

In [601]:
small_count

0

# AI

In [359]:
aix_data = df[df['operating System'] == 'AIX']

In [361]:
aix_data

     environment operating System  version
5       UAT/Test              AIX  7.3.0.0
9     Production              AIX  7.2.0.0
16      UAT/Test              AIX  7.2.0.0
601   Production              AIX  7.3.0.0
602     UAT/Test              AIX  7.3.0.0
..           ...              ...      ...
911   Production              AIX  7.3.0.0
912   Production              AIX  7.2.0.0
913  Development              AIX  7.2.0.0
914  Development              AIX  7.3.0.0
919   Production              AIX  7.2.0.0

[96 rows x 3 columns]

Production	
Development
UAT/Test

## AIX AIX 7.2 7200

In [402]:
test_v2_aix_data = df[(df['operating System'] == 'AIX') & 
                      (df['environment'] == 'Development') & 
                      (df['version'] == '7.2.0.0')]

In [404]:
test_v2_aix_data

     environment operating System  version
780  Development              AIX  7.2.0.0
829  Development              AIX  7.2.0.0
830  Development              AIX  7.2.0.0
831  Development              AIX  7.2.0.0
842  Development              AIX  7.2.0.0
913  Development              AIX  7.2.0.0

In [406]:
test_v2_aix_count = len(test_v2_aix_data)

In [408]:
test_v2_aix_count

6

Production	
Development
UAT/Test

## AIX AIX 7.3 7300

In [410]:
test_v3_aix_data = df[(df['operating System'] == 'AIX') & 
                      (df['environment'] == 'Development') & 
                      (df['version'] == '7.3.0.0')]

In [412]:
test_v3_aix_data

     environment operating System  version
869  Development              AIX  7.3.0.0
914  Development              AIX  7.3.0.0

In [414]:
test_v3_aix_count = len(test_v3_aix_data)

In [416]:
test_v3_aix_count

2

# Oracle Linux

Production	
Development
UAT/Test

# Oracle Linux 4/5

In [733]:
all_oracle_data = df[(df['operating System'] == 'Oracle Linux')]

In [735]:
all_oracle_data

     environment operating System version
15   Development     Oracle Linux       8
63    Production     Oracle Linux       7
64    Production     Oracle Linux       7
93    Production     Oracle Linux     7.9
94    Production     Oracle Linux     8.8
95    Production     Oracle Linux       7
101  Development     Oracle Linux     8.7
119  Development     Oracle Linux     8.6
262   Production     Oracle Linux     6.8
312   Production     Oracle Linux     7.9
357   Production     Oracle Linux       7
358     UAT/Test     Oracle Linux     7.9
359   Production     Oracle Linux     7.9
360     UAT/Test     Oracle Linux       7
361   Production     Oracle Linux     7.9
370   Production     Oracle Linux     7.9
371   Production     Oracle Linux       7
373   Production     Oracle Linux       7
378   Production     Oracle Linux       7
379   Production     Oracle Linux       7
380   Production     Oracle Linux     7.9
396     UAT/Test     Oracle Linux       7
493   Production     Oracle Linux     8.4
494     UAT/Test     Oracle Linux     8.4
495     UAT/Test     Oracle Linux     8.4
530   Production     Oracle Linux     8.1
607   Production     Oracle Linux     8.9
608     UAT/Test     Oracle Linux       9
635   Production     Oracle Linux     8.1
700   Production     Oracle Linux     7.9
708   Production     Oracle Linux     8.9
712   Production     Oracle Linux     7.9
717   Production     Oracle Linux     7.9
777  Development     Oracle Linux     8.4
872   Production     Oracle Linux       6
898   Production     Oracle Linux       7
905   Production     Oracle Linux       8
908     UAT/Test     Oracle Linux       8
925   Production     Oracle Linux       7
928   Production     Oracle Linux       8
929   Production     Oracle Linux       8

In [737]:
all_count = len(all_oracle_data)

In [739]:
all_count

41

## Oracle Linux 6

In [690]:
small_oracle_data = df[(df['operating System'] == 'Oracle Linux') & 
                     (df['environment'] == 'UAT/Test') & 
                     (df['version'].isin([6, 6.8]))]

In [692]:
small_oracle_data

Empty DataFrame
Columns: [environment, operating System, version]
Index: []

In [694]:
small_count = len(small_oracle_data)

In [696]:
small_count

0

## Oracle Linux 7

In [725]:
seven_oracle_data = df[(df['operating System'] == 'Oracle Linux') & 
                     (df['environment'] == 'Production') & 
                     (df['version'].isin([7, 7.9]))]

In [727]:
seven_oracle_data

    environment operating System version
63   Production     Oracle Linux       7
64   Production     Oracle Linux       7
93   Production     Oracle Linux     7.9
95   Production     Oracle Linux       7
312  Production     Oracle Linux     7.9
357  Production     Oracle Linux       7
359  Production     Oracle Linux     7.9
361  Production     Oracle Linux     7.9
370  Production     Oracle Linux     7.9
371  Production     Oracle Linux       7
373  Production     Oracle Linux       7
378  Production     Oracle Linux       7
379  Production     Oracle Linux       7
380  Production     Oracle Linux     7.9
700  Production     Oracle Linux     7.9
712  Production     Oracle Linux     7.9
717  Production     Oracle Linux     7.9
898  Production     Oracle Linux       7
925  Production     Oracle Linux       7

In [729]:
seven_count = len(seven_oracle_data)

In [731]:
seven_count

19

## Oracle Linux 8

In [708]:
eyght_oracle_data = df[(df['operating System'] == 'Oracle Linux') & 
                     (df['environment'] == 'UAT/Test') & 
                     (df['version'].isin([8, 8.1, 8.4, 8.6, 8.7, 8.8, 8.9]))]

In [710]:
eyght_oracle_data

    environment operating System version
494    UAT/Test     Oracle Linux     8.4
495    UAT/Test     Oracle Linux     8.4
908    UAT/Test     Oracle Linux       8

In [712]:
eyght_count = len(eyght_oracle_data)

In [714]:
eyght_count

3

## Oracle Linux 9

In [717]:
nine_oracle_data = df[(df['operating System'] == 'Oracle Linux') & 
                     (df['environment'] == 'UAT/Test') & 
                     (df['version'] == 9)]

In [719]:
nine_oracle_data

    environment operating System version
608    UAT/Test     Oracle Linux       9

In [721]:
nine_count = len(nine_oracle_data)

In [723]:
nine_count

1

# CentOS

In [420]:
centos_data = df[df['operating System'] == 'Centos']

In [422]:
centos_data

     environment operating System version
0     Production           Centos       7
3     Production           Centos       7
8     Production           Centos       7
23   Development           Centos       8
35      UAT/Test           Centos       8
50      UAT/Test           Centos       8
96      UAT/Test           Centos       8
97      UAT/Test           Centos       8
166     UAT/Test           Centos       8
167     UAT/Test           Centos       8
168  Development           Centos       8
169     UAT/Test           Centos       8
232   Production           Centos       7
233   Production           Centos       7
234   Production           Centos       7
421   Production           Centos       7
422   Production           Centos       7
509   Production           Centos       7
558   Production           Centos       7
595   Production           Centos       7
596   Production           Centos       7
611   Production           Centos     NaN
672   Production           Centos       9
673     UAT/Test           Centos       9
695   Production           Centos       7
696   Production           Centos       7
723     UAT/Test           Centos       7
740     UAT/Test           Centos       7
745   Production           Centos       7
746   Production           Centos       7
747   Production           Centos       7
799   Production           Centos       8
805   Production           Centos       7
806   Production           Centos       8
883   Production           Centos       7
894   Production           Centos       7
917     UAT/Test           Centos       7
918   Production           Centos       7

In [424]:
centos_data_count = len(centos_data)

In [426]:
centos_data_count

38

## Filter Centos

### Version 7 8 9

## Production

In [492]:
test_Centos_data = df[(df['operating System'] == 'Centos') & 
                      (df['environment'] == 'Production') & 
                      (df['version'] == 9)]

In [494]:
test_Centos_data

    environment operating System version
672  Production           Centos       9

In [496]:
test_Centos_count = len(test_Centos_data)

In [498]:
test_Centos_count

1

## Development

In [500]:
dev_Centos_data = df[(df['operating System'] == 'Centos') & 
                      (df['environment'] == 'Development') & 
                      (df['version'] == 9)]

In [502]:
dev_Centos_data

Empty DataFrame
Columns: [environment, operating System, version]
Index: []

In [504]:
dev_Centos_count = len(dev_Centos_data)

In [506]:
dev_Centos_count

0

## Test/UAT

In [484]:
test_Centos_data = df[(df['operating System'] == 'Centos') & 
                      (df['environment'] == 'UAT/Test') & 
                      (df['version'] == 9)]

In [486]:
test_Centos_data

    environment operating System version
673    UAT/Test           Centos       9

In [488]:
test_Centos_count = len(test_Centos_data)

In [490]:
test_Centos_count

1